.ModalLoginSignUp{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    max-width: 87vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    z-index: 102;
}
.ModalLoginSignUp__overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   min-height: 100vh;
   min-width: 100vw;
   z-index: -1;
}
.ModalLoginSignUp__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.ModalLoginSignUp__back{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.ModalLoginSignUp__back--arrow{
    color: #fff;
}
.ModalLoginSignUp__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ModalLoginSignUp__actions--sing, .ModalLoginSignUp__actions--login{
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f0b90b;
}
.ModalLoginSignUp__register{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    max-width: 350px;
    padding: 10px 15px;
    font-weight: bold;
    color: #000;
    background-color: #f0b90b;
    border-radius: 10px;
}
.ModalLoginSignUp__register--text{
    font-size: 14px;
}   
.ModalLoginSignUp__help{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.ModalLoginSignUp__avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.ModalLoginSignUp__avatar--description{
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.ModalLoginSignUp__avatar--logo{
    width: 250px;
    height: 250px;
}
.ModalLoginSignUp__avatar-title{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}
.ModalLoginSignUp__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    width: 300px;
}
.ModalLoginSignUp__label{
    display: grid;
    grid-template-columns: 1fr 10%;
    padding: 10px 15px;
    align-items: center;
    background: #000;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
}
.ModalLoginSignUp__input{
    background: transparent;
    border: none;
    color: #fff;
}
.ModalLoginSignUp__input--icon{
    color: #fff;
}
.ModalLoginSignUp__submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 15px;
    background-color: #f0b90b;
    border-radius: 20px;
}
.ModalLoginSignUp__submit--text{
    font-weight: bold;
}
.ModalLoginSignUp__msg{
    color: #fff;
    font-weight: bold;
}

.ModalLoginSignUp__actions--singInactive, .ModalLoginSignUp__actions--loginInactive{
    color: #fff;
    background-color: #000;
}

@media (min-width: 500px) {
    .ModalLoginSignUp{
        min-width: 92vw;
    }
    .ModalLoginSignUp__actions--sing, .ModalLoginSignUp__actions--login, .ModalLoginSignUp__avatar--description, .ModalLoginSignUp__register--text{
        font-size: 16px;
    }
}

@media (min-width: 720px) {
    .ModalLoginSignUp{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px;
        min-width: 96vw;
    }
    .ModalLoginSignUp__actions--sing, .ModalLoginSignUp__actions--login, .ModalLoginSignUp__avatar--description, .ModalLoginSignUp__register--text{
        font-size: 18px;
    }
    .ModalLoginSignUp__avatar{
        justify-content: flex-end;
        padding: 0 10px;
        height: 98%;
        background: #1C1C1C;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .ModalLoginSignUp__avatar--logo{
        width: 400px;
        height: 400px;
        margin-top: 50px;
    }
}